.searchBar {
    width: 256px;
    height: 36px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 14px;

    border-radius: 8px;

    background: #51388F;

    box-sizing: border-box;
}

.searchBar svg{
    width:18px;
    height:18px;

    color:#FFFFFF;
    opacity:.95;

    flex-shrink:0;
}

.searchBar input{
    flex:1;

    background:transparent;
    border:none;
    outline:none;

    font-family:"Poppins",sans-serif;
    font-size:14px;
    font-weight:500;

    color:#FFFFFF;
}

/* .searchBar input::placeholder{
    color:rgba(255,255,255,.78);
} */


.searchBar input::placeholder {
  font-family: Inter, sans-serif; /* Font family/body */
  font-weight: 400;
  font-style: normal;
  font-size: 14px; /* text-sm */
  line-height: 20px; /* text-sm */
  letter-spacing: 0;
  color:rgba(255,255,255,.78);
  opacity: 1; /* Ensures full color in some browsers */
}